body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button{
  display: flex;
  border-radius: 0;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  background-color: #ff1a1a;
  color: whitesmoke;
}
.gameTitle{
  margin-top: 0;
  text-align: center;
  background-image: url("Ocean.jpg");
  padding: 1em;
  background-size: cover;
  background-position: bottom;
  color: whitesmoke;
  font-weight: 600;
  font-size: 3.5em;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px #444;
}

.main{
  display: flex;
}
.gameArea{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.menuComponents{
  width: 20%;
  display: flex;
  flex-direction: column;
}

.checkWin{
  color: red;
  text-align: center;
}
.menu{
  text-align: center;
  margin: 1em;
}
.playersView{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.playersView h1 {
  width: 100%;
  text-align: center;
}
.playerBoard{
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5em;
}
.playerComputerBoard {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cells{
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
}
.rows{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}
.hit{
  background-color: red;
}
.miss{
  background-color: blue;
}
.start{
  display: flex;
  justify-content: space-around;
}

/*Ship Status Start*/
.shipStatus{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  line-height: 1.5em;
  text-align: center;
}
.shipStatus ul{
  list-style: none;
  padding: 0;
}
.fleet{
  text-decoration: underline;
  font-weight: bold;
}
.afloat{
  color: green;
}
.sunk{
  color: red;
  text-decoration: line-through;
}
.mobile{
  display: none;
}
.collapseButton{
  display: none;
}
/*Ship Status End*/

.hoverImage{
  background-size: cover;
}
.aircraftCarrier-0{
  background-image: url('./aircraftCarrier-0.png');
}
.aircraftCarrier-1{
  background-image: url('./aircraftCarrier-1.png');
}
.aircraftCarrier-2{
  background-image: url('./aircraftCarrier-2.png');
}
.aircraftCarrier-3{
  background-image: url('./aircraftCarrier-3.png');
}
.aircraftCarrier-4{
  background-image: url('./aircraftCarrier-4.png');
}
.battleship-0{
  background-image: url('./battleship-0.png');
}
.battleship-1{
  background-image: url('./battleship-1.png');
}
.battleship-2{
  background-image: url('./battleship-2.png');
}
.battleship-3{
  background-image: url('./battleship-3.png');
}
.cruiser-0{
  background-image: url('./cruiser-0.png');
}
.cruiser-1{
  background-image: url('./cruiser-1.png');
}
.cruiser-2{
  background-image: url('./cruiser-2.png');
}
.submarine-0{
  background-image: url('./submarine-0.png');
}
.submarine-1{
  background-image: url('./submarine-1.png');
}
.submarine-2{
  background-image: url('./submarine-2.png');
}
.destroyer-0{
  background-image: url('./destroyer-0.png');
}
.destroyer-1{
  background-image: url('./destroyer-1.png');
}
.verticalImage{
  transform: rotate(90deg);
}
.placed-hoverImage{
  background-size: cover;
}
.placed-aircraftCarrier-0{
  background-image: url('./aircraftCarrier-0.png');
}
.placed-aircraftCarrier-1{
  background-image: url('./aircraftCarrier-1.png');
}
.placed-aircraftCarrier-2{
  background-image: url('./aircraftCarrier-2.png');
}
.placed-aircraftCarrier-3{
  background-image: url('./aircraftCarrier-3.png');
}
.placed-aircraftCarrier-4{
  background-image: url('./aircraftCarrier-4.png');
}
.placed-battleship-0{
  background-image: url('./battleship-0.png');
}
.placed-battleship-1{
  background-image: url('./battleship-1.png');
}
.placed-battleship-2{
  background-image: url('./battleship-2.png');
}
.placed-battleship-3{
  background-image: url('./battleship-3.png');
}
.placed-cruiser-0{
  background-image: url('./cruiser-0.png');
}
.placed-cruiser-1{
  background-image: url('./cruiser-1.png');
}
.placed-cruiser-2{
  background-image: url('./cruiser-2.png');
}
.placed-submarine-0{
  background-image: url('./submarine-0.png');
}
.placed-submarine-1{
  background-image: url('./submarine-1.png');
}
.placed-submarine-2{
  background-image: url('./submarine-2.png');
}
.placed-destroyer-0{
  background-image: url('./destroyer-0.png');
}
.placed-destroyer-1{
  background-image: url('./destroyer-1.png');
}
.placed-verticalImage{
  transform: rotate(90deg);
}
@media (max-width: 1023px){
  .gameTitle{
    letter-spacing: 0.25em;
  }
  .gameArea{
    width: 70%;
  }
  .menuComponents{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .gameTitle{
    letter-spacing: 0.25em;
    font-size: 2.5em;
  }
  .gameArea{
    width: 100%;
  }
  .menuComponents{
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .playerBoard{
    width: 300px;
    height: 300px;
  }
  .playerComputerBoard{
    width: 300px;
    height: 300px;
  }
  .cells{
    width: 30px;
    height: 30px;
  }
  .rows{
    height: 30px;
  }
  .menuComponents{
    position: fixed;
    width: 50%;
    flex-direction: column;
    background-color: white;
  }
  .collapsed{
    z-index: 1;
    left: -45%;
  }
  .collapseButton{
    display: block;
    border: none;
    background-color: white;
    text-align: right;
    color: darkgrey;
    padding-right: 0;
  }
  .mobile{
    display: flex;
  }
  .notMobile{
    display: none;
  }
  .playersView{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 475px){

}
@media (max-width: 425px){
  .gameTitle{
    letter-spacing: 0.25em;
    font-size: 2em;
  }
  .playersView h1{
    font-size: 1.5em;
    display: none;
  }
  .playerBoard{
    margin-bottom: 1em;
  }
}
