body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button{
  display: flex;
  border-radius: 0;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  background-color: #ff1a1a;
  color: whitesmoke;
}
.gameTitle{
  margin-top: 0;
  text-align: center;
  background-image: url("Ocean.jpg");
  padding: 1em;
  background-size: cover;
  background-position: bottom;
  color: whitesmoke;
  font-weight: 600;
  font-size: 3.5em;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px #444;
}

.main{
  display: flex;
}
.gameArea{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.menuComponents{
  width: 20%;
  display: flex;
  flex-direction: column;
}

.checkWin{
  color: red;
  text-align: center;
}
.menu{
  text-align: center;
  margin: 1em;
}
.playersView{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.playersView h1 {
  width: 100%;
  text-align: center;
}
.playerBoard{
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5em;
}
.playerComputerBoard {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cells{
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
}
.rows{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}
.hit{
  background-color: red;
}
.miss{
  background-color: blue;
}
.start{
  display: flex;
  justify-content: space-around;
}

/*Ship Status Start*/
.shipStatus{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  line-height: 1.5em;
  text-align: center;
}
.shipStatus ul{
  list-style: none;
  padding: 0;
}
.fleet{
  text-decoration: underline;
  font-weight: bold;
}
.afloat{
  color: green;
}
.sunk{
  color: red;
  text-decoration: line-through;
}
/*Ship Status End*/

@media (max-width: 1023px){
  .gameTitle{
    letter-spacing: 0.25em;
  }
  .gameArea{
    width: 70%;
  }
  .menuComponents{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .gameTitle{
    letter-spacing: 0.25em;
    font-size: 2.5em;
  }
  .gameArea{
    width: 70%;
  }
  .menuComponents{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .playerBoard{
    width: 300px;
    height: 300px;
  }
  .playerComputerBoard{
    width: 300px;
    height: 300px;
  }
  .cells{
    width: 30px;
    height: 30px;
  }
  .rows{
    height: 30px;
  }
}
@media (max-width: 475px){
  .gameArea{
    width: 90%;
  }
  .menuComponents{
    visibility: hidden;
    width: 10%;
    flex-direction: column;
  }
}
@media (max-width: 425px){
  .gameTitle{
    letter-spacing: 0.25em;
    font-size: 2em;
  }
}
